<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hvkcoder.springboot.mapper.AccountMapper">
	<resultMap id="BaseResultMap" type="com.hvkcoder.springboot.domain.Account">
		<id column="account_id" jdbcType="VARCHAR" property="accountId"/>
		<id column="email" jdbcType="VARCHAR" property="email"/>
		<result column="user_name" jdbcType="VARCHAR" property="userName"/>
		<result column="password" jdbcType="VARCHAR" property="password"/>
		<result column="role" jdbcType="VARCHAR" property="role"/>
		<result column="department_id" jdbcType="VARCHAR" property="departmentId"/>
	</resultMap>

	<sql id="Base_Column_List">
    account_id, email, user_name, `password`, `role`, department_id
  </sql>

	<select id="findAll" resultMap="BaseResultMap" resultType="java.util.List">
		select
		<include refid="Base_Column_List"/>
		from account
	</select>
</mapper>