<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hvkcoder.springboot.mapper.DepartmentMapper">
	<resultMap id="BaseResultMap" type="com.hvkcoder.springboot.domain.Department">
		<id column="department_id" jdbcType="VARCHAR" property="departmentId"/>
		<result column="department_name" jdbcType="VARCHAR" property="departmentName"/>
	</resultMap>

	<sql id="Base_Column_List">
    department_id, department_name
  </sql>

	<select id="findAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from department
	</select>
</mapper>